{% extends "base.html" %}
{% load static %}
{% block titulo %} Yo Quiero Otro Mundo - Ingresa para pasar a la accion {% endblock %}
    {% block content %}
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="card text-bg-light pt-4 pb-4 pl-3 shadow p-3 mb-5 bg-body-tertiary rounded text-start">
                    <!-- inicia titulo de login -->
                    <p class="h2 fs-2 card-title text-secondary">
                        ¡Te damos la bienvenida otra vez!
                        <br>
                        Inicia sesión para empezar a pasar a la acción.
                        <br>
                        <span class="fs-6 card-title text-secondary">¿Aún no eres parte de Yo Quiero Otro Mundo?
                            <a href="{% url 'register' %}" class="link-danger">Hazte miembro</a></span>
                    </p>
                    <!-- termina titulo de login -->
                    {% if error_message %}
                    <p>{{ error_message }}</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <!-- inicia contenedor de formulario login -->
                        <div class="container px-1">
                            <div class="row">
                                <div class="col-3 text-start">
                                    <p><label for="username">Usuario:</label></p>
                                    <p><label for="password">Contraseña:</label></p>
                                </div>
                                <div class="col-3 text-start">
                                    <p><input type="text" id="username" name="username" required></p>
                                    <p><input type="password" id="password" name="password" required></p>
                                </div>
                            </div>
                        </div>
                        <!-- Teremina contenedor de formulario login -->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mr-3">
                            <input class="btn btn-success" type="submit" value="Iniciar sesión">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}